@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome to Alex's Films!</h1>
    <img style="width:250px;height:250px;" src="https://www.iconpacks.net/icons/2/free-movie-icon-2802-thumb.png" />
    <p>Feel free to navigate to the Movies, Actors, or Movie-Actors pages to add your own favorite movies!</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
